<link rel ="stylesheet" href ="/app.css">
<title>
   QUIZ BABU
</title>
<h1>CHAKRI QUIZ</h1>
 
<p>Please  Enter your name to Quiz up....</p>

<a><strong>Please don't hesitate..<%=data%> players had played already</strong></a> 

 
<form method="POST" action='/register'>
 <input type="text" class="form" name="email" placeholder="Nick Name please">

 <input type="number" class="form" name="age" placeholder="Enter age">
    <button>Enter </button>
   </form>
   

   

  
