<link rel ="stylesheet" href ="/q3.css">
<h1>THIRD ONE</h1>
 
<p> How many times his brother tease him(per day)?<strong>(DON'T BE SHY)<strong></p>
 
    <form
        method ="POST" action="/response3">
    <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-1">1 TIME</button>
           </form>
    
           <form
        method ="POST" action="/response3">
    <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-2">TEN TIMES</button>
           </form>
    
           <form
           method ="POST" action="/response3">
       <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-3">100 TIMES</button>
              </form>
    
              <form
              method ="POST" action="/response3">
          <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-4">MORE THAN THAT</button>
                 </form>
          
       