<link rel ="stylesheet" href ="/q5.css">
<h1>!!!LASTLY!!</h1>
 
<p>DID YOU LIKE THIS.......?</p>

<form
method ="POST" action="/response5">
<button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-1">YES</button>
   </form>

   <form
method ="POST" action="/response5">
<button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-2">NO</button>
   </form>

   <form
   method ="POST" action="/response5">
<button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-3">MAYBE</button>
      </form>

      <form
      method ="POST" action="/response5">
  <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-4">ANTA SEEN LEDULE</button>
         </form>