<link rel ="stylesheet" href ="/q4.css">
<h1>FOURTH ONE</h1>
 
<p>How can you define me?</p>
 
    <form
    method ="POST" action="/response4">
<button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-1">GOOD</button>
       </form>

       <form
    method ="POST" action="/response4">
<button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-2">FEARLESS</button>
       </form>

       <form
       method ="POST" action="/response4">
   <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-3">INEVITABLE</button>
          </form>

          <form
          method ="POST" action="/response4">
      <button id="1" onClick="email"><input type="text" class="form" name="email" value="OPTION NUMBER-4">ALL OF THESE</button>
             </form>
      
   