<link rel ="stylesheet" href ="/q2.css">
<h1>SECOND  ONE</h1>
<p> Which one is not among triggers<strong>(THE MOST)</strong></p>

<form
    method ="POST" action="/response2">
<button id="1" onClick="email"><input type="text" class="form" name="email" value='CORRECT'><strong>Option-1:Trigger Time</strong></button>
       </form>                                                              
       <form
       method ="POST" action="/response2">
   <button id="2" onClick="email"><input type="text" class="form" name="email" value='WRONG'><strong>Option-2:Trigger Event</strong></button>
          </form>   

       <form
       method ="POST" action="/response2">
   <button id="3" onClick="email"><input type="text" class="form" name="email" value='WRONG' ><strong>OPtion-3:Table name</strong></button>
          </form>

          <form
          method ="POST" action="/response2">
      <button id="4" onClick="email"><input type="text" class="form" name="email" value='WRONG'><strong>OPtion-4:Trigger option</strong></button>
             </form>
      
   