<link rel ="stylesheet" href ="/q1.css">
<h1>FIRST QUESTION..</h1>
 
<p> What is MYSQL's default server?</p>

<form
    method ="POST" action="/response">
<button id="1" onClick="email"><input type="text" class="form" name="email" value='CORRECT'><strong>Option-1:3306</strong></button>
       </form>                                                              
       <form
       method ="POST" action="/response">
   <button id="2" onClick="email"><input type="text" class="form" name="email" value='WRONG'><strong>Option-2:3302</strong></button>
          </form>   

       <form
       method ="POST" action="/response">
   <button id="3" onClick="email"><input type="text" class="form" name="email" value='WRONG' ><strong>OPtion-3:3300</strong></button>
          </form>

          <form
          method ="POST" action="/response">
      <button id="4" onClick="email"><input type="text" class="form" name="email" value='WRONG'><strong>OPtion-4:3308</strong></button>
             </form>
      
   