<link rel ="stylesheet" href ="/tq.css">


         <h1>CHAKRI ALWAYS LOVES YOU @ <%=data%></strong></h1>





 <p>        "YOU CAN SEARCH FOR MY PROFILE IN..</p>
<p>         IN BELOW"</p>
<p>         <a href="https://www.linkedin.com/in/valluru-chakravarthy-77316a141/">Linkedin</a></p>
<p>         <a href="https://www.quora.com/profile/VALLURU-CHAKRAVARTHY">Quora</a></p>

 
 
